$black :#333;
$grey: #808080;
$yellow: #FFFBC8;
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
button,
input,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

fieldset,
img {
    border: 0;
}

img,
object,
embed {
    vertical-align: bottom;
}

main {
    display: block;
    margin-bottom: 20px;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

q:before,
q:after {
    content: '';
}

a * {
    cursor: pointer;
    text-decoration: none;
}

input,
textarea {
    outline: none;
    resize: none;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?facfj0');
    src: url('../fonts/icomoon.eot?facfj0#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?facfj0') format('truetype'), url('../fonts/icomoon.woff?facfj0') format('woff'), url('../fonts/icomoon.svg?facfj0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100%;
    min-width: 320px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: 'Arial', sans-serif;  
    font-weight: 400;
    height: 100%;
    min-width: 320px;
    position: relative;
    color: $black;
    font-size: 12px;
    line-height: 1.2;    
}

a {
    color: #fff;
    text-decoration: none;
}

input {
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
}

* {
    outline: none;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* ::selection {
    background: #2600ff;
    color: #333;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #333;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #333;
    opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #333;
    opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #333;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input.placeholder,
textarea.placeholder {
    color: #fff !important;
}

.wrapper {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    overflow: hidden;    
}
.container{
    max-width: 720px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}


.user-wrapper{
    display:flex;
    align-items: center;    
    position: relative;
    -ms-flex-pack: center;
    margin: 30px 0 0 0;
    @media screen and (max-width: 660px) {
        flex-direction: column;
    }
    @media screen and (max-width: 425px) {
        margin: 15px 0 0 0;
    }
}

.user-img{
    overflow: hidden;
    width: 176px;
    height: 169px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 0;
    img{
        width: 100%;
    }
    @media screen and (max-width: 660px) {
        position: static;
    }
}

.user-inner{
    max-width: 400px;
    width: 100%;
    font-size: 13px;
    @media screen and (max-width: 660px) {
        max-width: 100%;
    }
}

.user-info{       
    .title{
            padding: 0 0 0 40px;
            @media screen and (max-width: 660px) {
                padding: 0;               
            }
    }
}

.info-wrapper{
    padding: 0 0 0 140px;
    @media screen and (max-width: 660px) {
        margin: 10px 0 0 0;
        padding: 0;
    }
}
.name,.user-job{
    margin: 0 0 10px 0;
}
.name{
    font-size: 16px;
    font-weight: 700;
    
}

.user-job{
    font-size: 14px;
}
.description{   
    width: 100%;
    background-color: $yellow;
    border: 1px solid #DADADA;
    border-radius: 5px;
    padding: 10px 10px 10px 40px;
    font-size: 14px;
    @media screen and (max-width: 660px) {        
        padding: 10px;        
    }
}

.user-data{
    display: flex;
    justify-content: flex-end;
    margin: 15px 0 0 0;
    .title{
        display:flex;
        justify-content: flex-end;        
    }
}

.services{
    padding: 20px 0;
    border-top: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;    
    margin: 10px 0;
    .item{
        margin: 0 0 2px 0;
        display:flex;
        justify-content: space-between;
        &:last-child{
            margin: 0;
        }
        // &:nth-child(1){
        //     background: #B1E19B;
        //     max-width: 160px;
        //     width: 100%;
        // }
    }
}

.raiting{
    padding: 5px;   
    border-radius: 0px 3px 3px 0px;
        // &:nth-child(){
        //     background: #B1E19B;
        //     max-width: 160px;
        //     width: 100%;
        // }
        // &:nth-child(2){
        //     background: #2600ff;         
        // }
        // &:nth-child(3){
        //     background: #2600ff;        
        // }  
}

.total-count{
    display:flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
}

.headline{
    display:flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
}
.total-reactions {
    display:flex;
    
    span{
        display:flex;
        align-items: center;
        margin: 0 15px 0 0;
        &:last-child{
            margin:0;  
        }
    }
    svg{
        margin: 0 5px 0 0;
        fill: #005DA1;
    }
    
}

.comments-wrapper{
    margin: 20px 0 0 0;
}

.comment-inner{
    margin: 10px 0 0 0;
    padding: 10px;
    background-color: #F2FBFF;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        left: 10px;
        top: -20px;
        border: 10px solid transparent; 
        border-bottom: 10px solid #F2FBFF; 
        }
}

footer{
    background: #F2F2F2;
}

.send-comment{
    display:flex;
    flex-direction: column;

}
.footer-inner{
    padding: 20px 20px 40px 0;
    @media screen and (max-width: 660px) {
        padding: 20px
    }
}   

textarea{
    max-width: 447px;
    width: 100%;
    margin: 10px auto;  
    height: 63px;
    border-radius: 1px;
    overflow: auto;
    padding: 10px;
}

#message{    
    background-color: #FDD639;
    border-radius: 23px;
    padding: 15px;
    text-align: center;
    outline:none;
    border:none;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    margin: 20px auto;
    cursor: pointer;
    transition: background-color .3s, color .3s;
    @media screen and (min-width: 1024px) {
        &:hover{
            background-color: #005DA1;
            color: #fff;
        }
    }
}

.count{
    font-weight: 700;
}

#name{
    max-width: 200px;
    width: 100%;
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
    padding: 0 0 0 5px;
    border-radius: 1px;
}

.tabs{
    a{
        color: $black;
        margin: 0 5px 0 0;
        transition: color .3s, border-bottom .3s;
        border-bottom: 1px solid transparent;  
        &:last-child{
            margin: 0;
        }
        @media screen and (min-width: 1024px) {
            &:hover{
                color: #005DA1 ;
                border-bottom: 1px solid #005DA1;      
            }
        }
    }
    .active{
        color: #005DA1;
        border-bottom: 1px solid #005DA1;        
    }
}
